<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Asteroids</title>
    <script type=text/javascript src="/jquery"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/asteroids.css') }}">
</head>

<body>
  <div id="navbar">
      <a class="navElement" id="0" href="/">Home</a>
      <a class="navElement" id="1" href="/about">Portfolio</a>
      <a class="navElement" id="2" href="/asteroids">Asteroids</a>
      <a class="navElement" id="3" href="/highscores">Asteroid Scores</a>
      <a class="navElement" id="4" href="/poems">Poems</a>
      <!-- <a class="navElement" href="/40k">40kRoller</a>
      <a class="navElement" href="/starcraft">SC Builds</a> -->
  </div>
  <script type=text/javascript> //used to get jquery to work
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  
  <canvas id="Screen" width="800" height="600"></canvas>
  <script src="{{ url_for('static',filename='js/asteroids.js') }}"></script>

<div id="rightcontent">
  <p> Use the arrow keys to move.<p>
  <p> Use the spacebar to activate the laser.<p>
  <p> Try to get a high score</p>
  <a href="/highscores"> Highscores listed here. </a>
  <p>This page won't work on mobile, sorry.</p>
</div>
<script src="{{ url_for('static',filename='js/navfeatures.js') }}"></script>
</body>
</html>
