*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: top;
}

#container{
  width: 1200px;
  padding: 10px;
  background-color: silver;
  margin-left: 20px;
}

#container h1{
  margin-left: 40%;
}

#container p{
  margin: 30px;
}

#navbar{
  width: 1100px;
  margin-left: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 80px;
  background-color: rgb(100,100,200);
  padding: 20px;
}

.navElement{
  width: 120px;
  height: 40px;
  margin-left: 50px;
  text-decoration: none;
  color: white;
  background-color: rgb(150, 150, 250);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.selectionblock{
  display: block;
  height: 200px;
  width: 100%;
}

.selectionblock p{
   text-align: center;
}

.calculate{
  height:50px;
  padding: auto;
  width: 100px;
  display: block;
  margin-left: 40%;
  font-size: 20px;
}

.selectionelement{
  margin-left: 20px;
  height: 30px;
  width: auto;
  background-color: green;
  display: inline-block;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid silver;
}

#first{
  margin-left: 20%;
}




@media only screen and (max-width: 1099px){
  #navbar{
    width: 90%;
    height: 160px;
    margin-left: 5%;
    padding: 10px;
  }
  .navElement{
    margin-top: 20px;
    margin-left: 1%;
  }

  #container{
    width: 90%;
    padding: 0px;
    background-color: silver;
    margin-left: 20px;
  }

  #container h1{
    margin-left: 10%;
  }

  .selectionblock{
    height: 250px;
  }
}

@media only screen and (max-width: 500px){
  #navbar{
    height: 200px;
  }
  .selectionblock{
    height: 400px;
  }
  #hiton{
    height: 200px;
  }

}
